.sec1{
    display: flex;
    height: 90vh;
    gap: 60px;
    align-items: center;
}
.sec1-1 img{
    width: 400px;
    border-radius: 50%;
    margin-left: 100px;
}
.sec1-2{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.sec1-2-1{
    font-weight: 600;
    font-size: 15px;
}
h1{
    font-size: 50px;
    color: rgba(61, 84, 212, 0.866);
}
.sec1-2-3{
    font-weight: 600;
    font-size: 18px;
}
p{
    font-size: 16px;
    width: 90%;
    gap: 1px;
    margin-top: 8px;
}
.btns{
    display: flex;
    gap: 20px;
    margin-top: 10px;
}
.btns{
    text-decoration: none;
}
.btns > :nth-child(1){
    padding: 10px 20px;
    background-color: transparent;
    border-radius: 20px;
    font-size: 15px;
    font-weight: 600;
    border: 2px solid black;
    cursor: pointer;
    transition: all .3s ease;
}
.btns > :nth-child(1):hover{
    background-color: black;
    color: white;
}
.btns > :nth-child(2){
    padding: 10px 20px;
    background-color: black;
    border-radius: 20px;
    font-size: 15px;
    color: white;
    font-weight: 600;
    border: 2px solid transparent;
    cursor: pointer;
    transition: all .3s ease;
}
.btns > :nth-child(2):hover{
    background-color: black;
    color: white;
}
.social{
    display: flex;
    gap: 20px;
}
.social img{
    width: 30px;
    margin-top: 20px;
}
.social img:hover{
    transform: scale(0.9);
    transition: all .3s ease;
    cursor: pointer;
}
@media(max-width:1024px){
    .sec1{
        flex-direction: column;
        height: 100%;
    }
    .sec1-1{
        margin-left: 0px;
    }
    .sec1-1 img{
        width: 450px;
        margin-left: 0px;
    }
    p{
        text-align: center;
        width: 100%;
    }
    .sec1-2{
        align-items: center;
        padding-bottom: 50px;
    }
}
@media(max-width:767px){
    .sec1{
        flex-direction: column;
    }
    .sec1-2{
        align-items: center;
    }
    .sec1-1 img{
        width: 300px;
        margin-left: 0px;
    }
    h1{
        font-size: 35px;
    }
    p{
        font-size: 15px;
        justify-content: cn;
    }
    .sec1-2{
        align-items: center;
    }
    .sec1-2-3{
        font-size: 16px;
    }
    .sec1-1{
        margin-top: 50px;
    }
}