.sec5{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    gap: 100px;
    height: 60vh;
    padding-top: 150px;
}
.sec5-1{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sec5-1>:nth-child(1){
    font-weight: 600;
}
.sec5-2{
    display: flex;
    font-weight: 600;
    flex-direction: row;
    gap: 30px;
    text-align: center;
    border: 2px solid black;
    padding: 15px;
    border-radius: 30px;
    margin-bottom: 100px;
}
.a1{
    display: flex;
    align-items: center;
    gap: 10px;
}
.a2{
    display: flex;
    align-items: center;
    gap: 10px;
}
.a1 img{
    width: 35px;
}
.a2 img{
    width: 28px;
}
.a1 span,.a2 span{
    font-weight: 600;
}
@media(max-width:767px){
    .sec5-2{
        gap: 20px;
        padding: 10px;
        font-size: 12px;
    }
}